# You can copy this file to app.properties (lose ".example"), and set the values
# from https://developer.squareup.com/apps/${app_id}, but .gitignore will keep
# the "secret" values out of source control.

# This identifies your application to Square
APP_ID="INSERT APP_ID HERE"

# This identifies the merchant. In most cases, OAuth is best for production
# usage (read https://developer.squareup.com/docs/oauth-api/overview), but that
# requires a server, and we can't know where or how developers configure that.
# The dashboard values can be put here for quick test access.
LOCATION_ID="INSERT LOCATION_ID HERE"
ACCESS_TOKEN="INSERT ACCESS TOKEN HERE"
